<%include ../header.ejs%>
  <div id="main-wrapper">
    <div class="navbar navbar-inverse" role="navigation"></div>
    <div class="template-page-wrapper">
      <form id="ajax-contact" class="form-horizontal templatemo-signin-form" role="form" method="post">
        <div class="form-group">
          <div class="col-md-12">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Register" id="regiestbtn" class="btn btn-default">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<%include ../footer.ejs%>